@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');
body{
  background-color: #111;
  overflow: hidden;
}
.wish{
  color: white;
  text-align: center;
  font-family: 'Mr Dafoe';
  font-size: 3.5em;
  letter-spacing: 0.1em;
  text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
  transform: rotate(-2deg);
}
.mw{
  background-color: #111;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.mw p{
  background-image: url(jorda.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  -webkit-text-fill-color: rgba(255,255,255,0);
  -webkit-background-clip: text;
  font-size: 6px;
  line-height: .8;
  max-height: 100vh;
  word-break: break-all;
  font-family: poppins;
  font-weight: bold;
}

